:root {
  --orange: #ff5d00;
  --gris-foncé: #616161;
  --noir: #222;
  --gris-clair: #e9ddcf;
  --btn-shop: #092636;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spectral", serif;
}

a,
button {
  text-decoration: none;
  color: var(--noir);
  font-family: "Spectral SC", serif;
}
ul {
  list-style-type: none;
}
p {
  text-align: justify;
}
footer p {
  text-align: center;
}
h1 {
  font-family: "Spectral SC", serif;
  text-align: center;
  font-style: italic;
}
h2,
h3 {
  margin: 1.5rem 0 0;
  font-family: "Spectral SC", serif;
  text-align: justify;
}
header {
  margin-bottom: 3rem;
}
#imagePresentation {
  height: 80vh;
  width: 100%;
  background: url(./images/vignes.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#bandeau-principal {
  background-color: rgba(221, 221, 221, 0.8);
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 115px;
}
#bandeau-principal img {
  width: 90px;
  height: 90px;
  object-fit: cover; /*comment l'image s'adapte à son conteneur*/ /*cover:maintient son ratio en remplissant tout le block*/
}
#bandeau-principal h1 {
  font-size: 1.5rem;
}
#bandeau-haut {
  display: flex;
  background-color: var(--gris-foncé);
  justify-content: space-around;
  padding: 3px;
}
#bandeau-haut a {
  display: block;
  color: white;
}
#logo-title {
  width: 25%;
}
#logo-title a {
  display: flex;
  align-items: center;
}
/* --------------------Animations liens header ------------------- */
.two-lines {
  font-size: 16px;
  position: relative;
}
.two-lines::before,
.two-lines::after {
  content: ""; /* est utilisée avec les pseudo-éléments ::before et ::after afin de générer le contenu d'un élément. permet d'utiliser ::before et ::after*/
  display: inline-block; /*pour faire fonctionner ::before et ::after qui sont au départ en inline*/
  vertical-align: middle;
  width: 10px;
  height: 1px;
  margin-top: -1px;
  background-color: black;
  opacity: 0;
}

.two-lines::before {
  margin-right: 8px;
}
.two-lines::after {
  margin-left: 8px;
}
a:hover.two-lines::before,
a:hover.two-lines::after {
  opacity: 1;
}

/*---------------------- AFFICHAGE BARRE DE NAVIGATION CLIC BURGER----------------------- */
#menu_toggle {
  opacity: 0;
}
/* ---------------ANIMATIONS MENU BURGER -----------------------*/

#menu_toggle:checked ~ .menu_btn > span {
  /*sélecteurs css*/
  /* > relation directe parent-enfant : span est l'enfant direct contenu dans .menu_btn(le parent), sélectionne les enfants directs (span) de .menu_bnt*/
  transform: rotate(45deg);
}
#menu_toggle:checked ~ .menu_btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu_toggle:checked ~ .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu_toggle:checked ~ .menu_box {
  /* ~ (tilde):sélectionne les éléments directement après l'élément indiqué*/
  opacity: 1;
  right: 0;
  text-align: center;
}
.menu_btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 53px;
  right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.15rem;
  background-color: var(--gris-foncé);
  transition-duration: 0.25s;
}
.menu_btn > span::before {
  content: "";
  top: -8px;
}
.menu_btn > span::after {
  content: "";
  top: 8px;
}
.menu_box {
  display: block;
  position: fixed;
  top: 115px;
  right: -100%;
  width: 100%;
  max-height: 300px;
  background-color: white;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.menu_item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  transition-duration: 0.25s;
  margin-bottom: 2px;
  text-align: center;
}
/* .menu_item:hover {
  /* filter: brightness(0.2); */
  /* cursor: pointer; */
  /* background-color: var(--orange); */
/* }  */
.active, .two-lines:hover{
background: rgb(157, 157, 163);
color: #fff;
}

/* -----------------------------main--------------------------------  */
#contenu {
  margin-bottom: 3rem;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

#description-cave .sous-titre {
  color: #9a3c0f; /*pour contraste*/
  font-style: italic;
  text-align: center;
  font-size: 1.4rem;
  padding-bottom: 2rem;
}

#selection {
  margin-bottom: 3rem;
}
#selection h2 {
  text-align: justify;
}
.text-selection {
  margin-bottom: 1rem;
}
.bloc-alcool h3 {
  font-size: 1.5rem;
}
.varietes img {
  width: 100%;
  transition: all 0.5s ease; /*ease: augmente puis vitesse ralentit à la fin*/
  height: 300px;
  object-fit: cover;
  opacity: 0.7;
}
.varietes img:hover {
  transform: scale(1.05);
  opacity: 1;
}
.varietes p {
  padding: 10px;
}
.lien-variete {
  font-family: "Spectral", sans-serif;
  font-style: italic;
  font-weight: 600;
}

/* ---------------------FLIP CARD-----------------------------  */

#nouveautes h3 {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.flip-card {
  background-image: url(images/background-lin.webp);
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: 0 auto 85px;
}
.flip-card p {
  text-align: center;
  padding: 6px;
}
.flip-card:nth-child(1) {
  margin: 0 auto 70px;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}
.flip-card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.card-front {
  display: flex;
  justify-content: center;
}
.card-front img {
  height: 300px;
  width: 220px;
}
.card-front .img-leshoux {
  height: 300px;
  width: 100px;
}
.card-back {
  color: rgb(94, 84, 84);
  background-image: url(images/background-lin.webp);
  transform: rotateY(180deg);
}
.card-back h3 {
  font-size: 1.5rem;
}
.card-back p {
  font-size: 1.1rem;
  padding-bottom: 5px;
  width: 90%;
  margin: 0 auto;
  border-bottom: solid 1px grey;
}
.card-back p:last-child {
  border-bottom: none;
}

/* -----------------ASIDE INFOS-CONSEILS------------------ */
#infos-conseils {
  margin-top: 9rem;
}
.orange-line-title {
  margin-bottom: 2rem;
  width: 100%;
}
#nouveautes .orange-line-title {
  padding-left: 0.8rem;
}
.bloc-conseil .orange-line-title {
  text-align: -webkit-center;
  text-align: -moz-center;
}
.orange-line {
  width: 50px;
  height: 4px;
  background: var(--orange);
  display: block;
}
#infos-conseils p a {
  font-family: "Spectral", sans-serif;
  border-bottom: 1px solid #000;
}
#infos-conseils p a:hover {
  border-bottom: none;
  background-color: var(--orange);
}
.bloc-conseil {
  padding: 20px 5px;
  margin-bottom: 2rem;
  background-color: var(--gris-clair);
}
.bloc-conseil img {
  height: 35px;
  width: 35px;
}
.bloc-conseil p {
  text-align: center;
  font-size: 0.8rem;
  padding: 20px 0 10px;
}

/* ----------------------------ASIDE NEWSLETTER----------------------  */
#newsletter {
  background-image: url(images/background-lin.webp);
  margin: 0 auto 3rem;
  max-width: 768px;
  padding: 2rem;
}
#newsletter h3 {
  margin-bottom: 0.8rem;
  text-align: center;
}
#newsletter p {
  color: var(--orange);
  font-style: italic;
  text-align: center;
  font-size: 1.4rem;
  padding: 10px 0 15px;
}
.input-newsletter {
  border-bottom: 1px solid #beb8b6;
  padding-bottom: 7px;
  margin: 0 auto;
  max-width: 450px;
}
.input-newsletter input {
  border: 0;
  background: transparent;
  text-align: center;
  width: 100%;
  padding: 0.7rem;
}
.btn-newsletter {
  text-align: center;
  padding-bottom: 7px;
}
.btn-newsletter button {
  padding: 10px 15px;
  background-color: var(--gris-foncé);
  color: white;
  cursor: pointer;
  margin-top: 35px;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.5s ease;
}
.btn-newsletter button:hover {
  color: var(--gris-foncé);
  background-color: white;
  transform: scale(1.05);
}

/* -----------------------------FOOTER -----------------------------------*/
#pied {
  background-image: url(images/background-lin.webp);
  color: var(--noir);
}
#pied h4 {
  font-size: 1.3rem;
  color: var(--gris-foncé);
  padding-bottom: 7px;
}
#pied h5 {
  font-size: 1.2rem;
  border-bottom: solid 1px gray;
}
.btn-arrow {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 4px 2px rgba(0, 0, 0, 0.43);
}
.btn-arrow i {
  font-size: 1.4rem;
  color: #333;
}
#contenu-bas {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: space-around;
}
#contenu-bas .colonne {
  text-align: center;
}
.logo-footer img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}
.line-height {
  line-height: 2rem;
}
.tyjoss-bas {
  font-size: 18px;
  padding-top: 0.7rem;
}
.bold {
  font-weight: bold;
}
.find-us {
  padding-bottom: 1rem;
}
#reseaux {
  display: flex;
  justify-content: center;
}

/* ------------------ANIMATIONS RESEAUX SOCIAUX------------------ */
.icons li {
  padding: 10px;
  display: inline-block;
  position: relative;
  font-size: 20px;
}
.icons i {
  color: white;
  position: absolute;
  transition: all 0.3s ease-out;
  top: 25px;
  left: 25px;
  font-size: 1.4rem;
}
.icons a {
  display: inline-block;
}
.icons a::before {
  transform: scale(1);
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: block;
  background: var(--gris-foncé);
}
.icons a:hover::before {
  transform: scale(0);
  transition: transform 0.3s ease-in;
}
.icons a:hover i {
  transform: scale(2.2);
  color: var(--gris-foncé);
  background: var(--gris-foncé);
  -webkit-background-clip: text; /*l'arriere plan est limité au texte en premier plan*/
  -webkit-text-fill-color: transparent; /*définie la couleur utilisée pour dessiner le contenu des lettres qui forment un texte*/
  transition: all 0.3s ease-in;
}
.copyright {
  left: 0;
  right: 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gris-foncé);
  color: white;
}
.copyright a {
  color: white;
}
.copyright i {
  padding-right: 4px;
}

/* -----------------------------PAGE CONTACT ---------------------------------------------*/

#container-form {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
#container-form h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--noir);
  margin: 15px 0;
}
.bloc-form {
  background-color: #bab392;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.bloc-form h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.form-line {
  margin-bottom: 25px;
  width: 100%;
}
.form-line .label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  width: 100%;
  display: block;
  margin-bottom: 5px;
}
.form-line textarea {
  height: 70px;
}
.form-input {
  height: 30px;
  border-radius: 2px;
  border: none;
  padding-left: 5px;
  width: 100%;
}

.form-list{
  background-color: grey;
  cursor: pointer;
  margin: 5px;
}
.form-list:hover{
  background-color: var(--gris-clair);
}
/* ------------------BOUTON-------------------- */
.send-msg {
  cursor: pointer;
  background-color: grey;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  transition: all 0.5s ease;
  margin-bottom: 40px;
}
.send-msg:hover {
  transform: scale(1.1);
}

.noHover{
  pointer-events: none;
}
.activeBtn{
  background-color: var(--orange);
}

#notification{
  position: fixed;
  bottom: -8rem;
  color: #ff4754;
  background: #000;
  padding: 1.2rem 2.4rem;
  border-radius: 0.2rem;
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
}
#notification.show {
  bottom: 2rem;
}

/* -------------------MAP CAVE------------------------ */
.bloc-img {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin: 40px 0;
}

/* ----------------------BLOCS CONTACTS------------------------ */
.contact li {
  width: 100%;
}
.bloc-contact {
  margin-bottom: 25px;
}
.bloc-contact a:hover {
  text-decoration: underline;
}
.title-contact p {
  text-align: center;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--gris-foncé);
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
}
.circle i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  padding-left: 10px;
}
.title-contact {
  text-align: center;
  font-size: 1rem;
}
.title-contact p a {
  font-family: "Spectral", sans-serif;
}

/* --------------------------PAGE BOUTIQUE ------------------------*/
#image-fond-boutique {
  height: 80vh;
  width: 100%;
  background: url(images/fond-vin.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
#image-fond-boutique a {
  display: block;
  position: absolute;
  top: 50%;
  left: 31%;
  padding: 10px 15px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
#image-fond-boutique a:hover {
  color: black;
  background-color: #fff;
  transform: scale(1.05);
}
.choix-alcool {
  margin-bottom: 4rem;
}
.choix-alcool img {
  height: 300px;
  width: 205px;
  object-fit: contain;
  background-image: url(images/background-lin.webp);
  transition: all 0.5s ease;
}
.choix-alcool img:hover {
  transform: scale(1.05);
  filter: brightness(1.02);
}
.choix-alcool h3 {
  font-size: 0.9rem;
  text-align: center;
  margin: 0 auto 2rem;
}
.btn-voirPlus {
  background-color: var(--btn-shop);
  font-family: "Spectral";
  padding: 1rem 2rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.btn-voirPlus:hover {
  background-color: var(--orange);
}

/* ---------------------PAGE SHOP PRODUIT------------------------- */
#contenu .chemin {
  font-style: italic;
  text-align: justify;
}
.chemin a {
  font-family: "Spectral", serif;
}
.shop {
  text-align: justify;
}
.shop img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.shop h2 {
  margin: 0.8rem 0;
}
.shop .domaine {
  margin-bottom: 0.8rem;
  font-style: italic;
  font-size: 1.1rem;
}
.title-article .price {
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--orange);
}
.quantite {
  background-color: var(--gris-clair);
  justify-content: space-between;
  margin: 1.2rem 0px;
  padding: 5px;
}
.bouton-ajout {
  display: block;
  padding: 1rem;
  margin: 2rem auto;
  background-color: var(--orange);
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease;
}
.bouton-ajout:hover {
  background-color: var(--gris-clair);
  color: var(--orange);
  transform: scale(1.05);
}
.quantite p {
  font-style: italic;
}
.quantite i {
  font-size: 1.2rem;
  padding-right: 5px;
  cursor: pointer;
  color: var(--orange);
}
.quantite span {
  font-style: italic;
  margin-bottom: 3rem;
  display: block;
}
.quantite-article {
  display: flex;
}
.quantite-article input {
  width: 30px;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}
.stock-article {
  display: flex;
  align-items: center;
  justify-content: end;
}
.plus-moins {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.description-article h4 {
  text-align: center;
  font-size: 1.2rem;
  margin: 3rem 0 0.8rem;
}

/* ----------------------------MEDIA QUERRIES------------------------------------ */

/* ---------------MAX WIDTH/ 576PX------------- */
@media screen and (max-width: 576px) and (min-width: 460px) {
  #image-fond-boutique a {
    left: 37%;
  }
}

/* --------------MAX WIDTH : 767PX------------------- */
@media screen and (max-width: 767px) {
  /* '''''''''''''''footer page index -------------------- */
  .container {
    max-width: 450px;
  }

  #contenu-bas {
    display: block;
  }
  .colonne {
    display: contents;
  }
  .two-lines {
    font-size: 15px;
  }

  #pied p {
    font-size: 15px;
  }
  .tyjoss-bas {
    padding-bottom: 2rem;
  }
  #pied ul {
    padding-bottom: 2rem;
  }
}

/* ---------------MIN WIDTH 768px---------- */

@media screen and (min-width: 768px) {
  /*------ header page index----- */
  #logo-title a {
    align-items: center;
  }
  #logo-title img {
    width: 100px;
    height: 100px;
  }
  #imagePresentation img {
    left: 40%;
  }
  #bandeau-principal {
    height: 120px;
  }
  .menu_btn {
    top: 55px;
  }

  /* -------------SECTION SELECTION-----------------  */
  #selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .text-selection {
    width: 52%;
  }
  .varietes {
    width: 45%;
  }
  .bloc-alcool {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
  }
  .bloc-alcool .varietes {
    width: 45%;
  }
  #nouveautes {
    display: flex;
    flex-wrap: wrap;
  }
  #nouveautes h2 {
    width: 100%;
  }
  .flip-card {
    width: 45%;
  }
  .card-inner {
    width: 70%;
    margin: 0 auto;
  }

  /* ----------------ASIDE CONSEILS --------------------*/
  #infos-conseils {
    display: flex;
    justify-content: space-between;
  }
  .bloc-conseil {
    width: 30%;
  }
  .bloc-conseil p {
    font-size: 0.9rem;
  }
  .bloc-alcool .varietes {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .img-varietes {
    width: 50%;
  }
  .text-alcool {
    width: 45%;
  }
  .logo-footer {
    width: 100%;
  }
  .logo-footer img {
    width: 70%;
    margin: 0 auto;
    height: 220px;
    object-fit: contain;
    display: block;
  }
  #contenu-bas {
    padding-bottom: 0;
  }
  #contenu-bas .colonne {
    margin-bottom: 2rem;
  }

  /*---------- PAGE CONTACT------------  */

  /* ---------------------PAGE BOUTIQUE ----------------- */
  #image-fond-boutique a {
    font-size: 1.4rem;
    left: 41%;
  }
  .bloc-alcool .choix-alcool {
    width: 45%;
  }

  /* ------------------PAGE SHOP PRODUIT------------------ */
  #main-shop .container {
    margin-bottom: 5rem;
  }
  .shop {
    max-width: 900px;
    margin: 5rem auto;
  }
  .shop-article {
    display: flex;
    justify-content: space-between;
  }
  .img-shop-article,
  .title-article {
    width: 48%;
  }
  .description-article {
    margin: 4rem 0 0;
  }
}
/* ----------------MIN WIDTH 992px-------------- */

@media screen and (min-width: 992px) {
  .menu_btn {
    display: none;
  }
  .menu_box {
    margin-top: -68px;
    display: flex;
    position: fixed;
    right: -205px;
    opacity: 1;
    box-shadow: none;
    background-color: rgba(221, 221, 221, 0.2);
  }
  .menu_item {
    padding: 12px 0;
  }
  #imagePresentation img {
    left: 42%;
    height: 145px;
    width: 200px;
  }
  #contenu-bas .colonne {
    margin-bottom: 0;
  }

  .varietes {
    display: flex;
    padding-bottom: 3rem;
  }
  #selection .varietes {
    display: block;
    padding-bottom: 0;
  }
  .varietes a {
    width: 50%;
  }
  .switch {
    flex-direction: row-reverse;
  }

  /* --------------------PAGE BOUTIQUE------------------- */
  #image-fond-boutique button {
    font-size: 1.9rem;
    left: 41%;
  }
  .bloc-alcool_ {
    display: flex;
    justify-content: space-between;
  }
  .choix-alcool img {
    width: 350px;
    height: 450px;
    object-fit: contain;
  }
  /* --------------------------PAGE CONTACT--------------------  */
  .contact ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .contact ul li {
    width: 45%;
  }
}

/* --------------------MIN WIDTH 1200px----------------*/
@media screen and (min-width: 1200px) {
  .menu_box {
    right: -330px;
  }
  #imagePresentation img {
    left: 44%;
  }
}

/* -------------------MIN WIDTH 1440px------------------- */
@media screen and (min-width: 1440px) {
  .menu_box {
    right: -500px;
  }
  .flip-card {
    width: 22%;
  }
}
